* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

body {
	background-color: #f3f2ef;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
	display: flex;
	padding-left: 80px;
	background-color: #fff;
	padding-top: 10px;
	color: #666666;
}

#ico img {
	height: 40px;
	width: 40px;
}

#search {
	width: 331px;
	height: 34px;
	background-color: #eef3f8;
	margin-left: 10px;
	border-radius: 5px;
	margin-top: 3px;
	padding-left: 5px;
	outline: none;
	margin-bottom: 10px;
}

#search_box {
	border: none;
	width: 300px;
	height: 30px;
	background-color: #eef3f8;
	outline: none;
}

#search_box::placeholder {
	font-size: 15px;
	font-weight: 450;
}

.fa-magnifying-glass {
	font-size: 16px;
	color: #5f6163;
	margin-top: 9px;
	margin-right: 5px;
}

.nav {
	margin-left: 10px;
	text-align: center;
	font-weight: 100;
	font-size: 14px;
	width: 80px;
}

#home {
	margin-left: 170px;
	text-align: center;
}

.nav i {
	font-size: 24px;
}

.nav a {
	text-decoration: none;
	color: #666666;
}

#job {
	border-bottom: 2.5px solid #000;
	color: #000;
}

#user img {
	border-radius: 50%;
	width: 23px;
}

#user p {
	margin-top: -7px;
}

#user_nav {
	cursor: pointer;
}

#work {
	border-left: 1px solid #ddd;
	margin-top: -10px;
}

#work i {
	margin-top: 10px;
}

#work p {
	margin-top: -15px;
}

#premium {
	color: #666666;
	width: 160px;
	text-align: center;
	font-weight: 500;
	font-size: 15px;
	margin-left: 5px;
	margin-top: 7px;
}

#premium_ico {
	width: 14px !important;
	border-radius: 0px !important;
	margin-left: -10px;
}

#userDropdown {
	width: 300px;
	position: absolute;
	background-color: #fff;
	top: 65px;
	left: 875px;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	text-align: left;
	box-shadow: 1px 1px 3px 3px #ccc;
	display: none;
}

#user_img_big {
	width: 55px !important;
}

#profile {
	display: flex;
}

#name {
	font-weight: 550;
	font-size: 18px;
}

#role {
	font-weight: 425;
	font-size: 16px;
	margin-top: 0px !important;
}

#name_and_role {
	padding-top: 13px;
	padding-left: 10px;
}

#view_profile {
	border-radius: 25px;
	width: 280px;
	height: 28px;
	background-color: #fff;
	border: 2px solid #0a66c2;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	color: #0a66c2;
	color: #0a66c2;
	font-size: 16px;
	font-weight: 500;
}

#account {
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

#account_title {
	font-weight: 500;
	font-size: 18px;
	color: #000;
}

#userDropdown a {
	display: block;
}

.account_item {
	font-weight: 400;
	font-size: 15px;
	margin-top: 7px;
}

#manage {
	border-top: 1px solid #ddd;
	padding-top: 20px;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

#manage_title {
	font-weight: 500;
	font-size: 18px;
	color: #000;
}

.manage_item {
	font-weight: 400;
	font-size: 15px;
	margin-top: 7px;
}

#sign_out {
	margin-top: 10px;
	font-weight: 400;
	font-size: 15px;
	margin-top: 7px;
}

#profile_link {
	color: #000;
}

#body {
	display: flex;
}

#menu {
	background-color: #fff;
	padding: 30px 10px 10px 20px;
	height: 415px;
	width: 250px;
	margin-left: 75px;
	margin-top: 20px;
	border-radius: 10px;
	border: 1px solid #ddd;
}

.menu_nav {
	display: block;
	color: #171717;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 35px;
	text-decoration: none;
}

.menu_nav i {
	color: #666666;
	font-size: 20px;
}

#post_job {
	border-radius: 25px;
	width: 250px;
	height: 50px;
	border: 2px solid #0a66c2;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	margin-left: -20px;
}

#post_job_link {
	color: #0a66c2;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
}

#search_suggestions {
	width: 600px;
	background-color: #fff;
	padding: 30px 85px 20px 20px;
	height: 200px;
	margin-left: 25px;
	margin-top: 20px;
	border-radius: 10px;
	border: 1px solid #ddd;
}

#search_suggestions_title {
	font-size: 20px;
	font-weight: 500;
}

.job_link {
	border-radius: 25px;
	background-color: #fff;
	border: 2px solid #0a66c2;
	cursor: pointer;
	padding: 0px 10px 0px 10px;
	margin-top: 10px;
}

.job_nav {
	color: #0a66c2;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	text-transform: lowercase;
	display: block;
	margin-top: -2px;
}

#search_header {
	display: flex;
	width: 575px;
}

#close_button {
	background-color: transparent;
	color: #666666;
	font-size: 20px;
	margin-left: 325px;
	cursor: pointer;
}